.item {
  transition: transform 0.3s;
  transform: scale(0);
  transform-origin: center;
  animation: scale 1s forwards;
}

@keyframes scale {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
