# Browsers that we support

defaults
# > 0.5%, last 2 versions, Firefox ESR, not dead
# 世界の使用状況0.5%以上のブラウザをサポート
# 各ブラウザの2つ前のバージョンまでサポート
# 最新の「Firefox Extended Support Release」バージョン
# 24ヶ月以内にアップデートされてないバージョンのブラウザは対象外

iOS >= 12
not IE 11
not dead
