.navigation {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: sizeMobile(8px);
  background: linear-gradient(92.61deg, rgba(1, 118, 255, 0.8) 0%, rgba(90, 200, 250, 0.8) 100%);
  border-radius: 4px 4px 0 0;
  backdrop-filter: blur(2px);

  @include mediaDesktop {
    padding: 8px 8.89px;
    background: linear-gradient(
      92.61deg,
      rgba(90, 200, 250, 0.8) 0%,
      rgba(1, 118, 255, 0.8) 50%,
      rgba(90, 200, 250, 0.8) 100%
    );
  }
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  padding: sizeMobile(12px) sizeMobile(8px);
  overflow-x: auto;
  background: linear-gradient(91.82deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.1) 100%);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);

  // スクロールバーを非表示にする
  @include mediaMobile {
    &::-webkit-scrollbar {
      display: none;
    }
  }

  @include mediaDesktop {
    justify-content: center;
    padding: 12px 0 13px 0;
  }
}

.item {
  display: inline-block;
  flex-shrink: 0;
  padding: sizeMobile(8px) sizeMobile(16px);
  font-size: 1rem;
  font-weight: 700;
  color: $mainColor;
  border-radius: 4px;
  transition: all 0.3s;

  @include mediaDesktop {
    padding: 8px 16px;
    @include hoverStyle {
      color: $accentColor;
      background: $mainColor;
    }
  }

  &:not(:first-child) {
    margin-left: sizeMobile(8px);
    @include mediaDesktop {
      margin-left: 8px;
    }
  }
}
