html,
body,
body > div {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  @include fontJapanese;
  color: $baseColor;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  display: block;
  width: 100%;
}
